<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>LESS</string>
	<key>ordering</key>
	<array>
		<string>78788223-5E5E-434E-98BE-17BCDF600611</string>
	</array>
	<key>uuid</key>
	<string>5C457657-CAFA-4CA7-9FAC-36348FF7AAD2</string>
</dict>
</plist>
